* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./images/default.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: burlywood;
}

h1 {
  color: burlywood;
}

.form-data {
  margin-top: 25%;
  color: burlywood;
}

.weather-info {
  border: 1px solid green;
  border-radius: 5px;
  height: 500px;
  min-width: 400px;
  margin-top: 10%;
  padding: 30px;
  color: burlywood;
}

.location-name {
  font-size: 30px;
  font-weight: bold;
}

.temp {
  font-size: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3196a3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3196a3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.switch div {
  display: flex;
  top: 4px;
  left: 7px;
  gap: 21px;
  color: black;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-shadow: none;
}
